.insertButton {
  height: 48px;
  width: 100%;
  border-radius: 8px;
  padding: 13px 20px;
  background-color: var(--Color-primary);
  color: white;
  border: solid 2px var(--Color-primary);
  display: block;
  min-width: 310px;
}

.insertButton:hover {
  border: solid 2px white;
}
